@charset "UTF-8";
:root {
  --color-primary: #002f67;
  --color-secondary: #f69522;
  --color-tertiary: #16a850;
  --color-grey: #696969;
  --color-grey-light: #e2e6ea;
  direction: rtl;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif !important;
}

.fully-rounded--rose, .fully-rounded-bg--rose {
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 4px;
  border: 0.5px solid var(--color-secondary) !important;
  background: transparent;
}

.fully-rounded--rose:hover, .fully-rounded-bg--rose:hover {
  background: var(--color-secondary) !important;
  color: #fff !important;
}

.fully-rounded-bg--rose {
  background-color: var(--color-secondary);
}

.forms {
  transform: translateY(-40px);
}

.forms .box::before, .forms .box-1::before, .forms .box-2::before, .forms .box-3::before {
  padding: 7px 31px;
  color: white;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--color-primary);
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .forms .box::before, .forms .box-1::before, .forms .box-2::before, .forms .box-3::before {
    font-size: 1.9rem;
  }
}

.forms .box-1::before {
  content: 'تسجيل دخول';
}

.forms .box-2::before {
  content: 'بحث';
}

.forms .box-3::before {
  content: 'الشات';
}

.forms .form-box {
  position: relative;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-top: 2px solid var(--color-primary);
}

.forms .form-box__title {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.forms .form-box__form {
  position: relative;
}

.forms .form-box__form--icon-1 {
  position: absolute;
  left: 0;
  top: -1px;
}

.forms .form-box__form--icon-2 {
  position: absolute;
  left: 0;
  top: 48px;
}

.forms .form-box input[type='text'],
.forms .form-box input[type='password'],
.forms .form-box input[type='search'] {
  outline: inherit;
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.forms .form-box input[type='text']:focus,
.forms .form-box input[type='password']:focus,
.forms .form-box input[type='search']:focus {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.2s ease;
}

.forms .form-box input[type='submit'] {
  margin-top: 20px;
  padding: 8px 20.8px;
  background: var(--color-primary);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}

.forms .form-box input[type='submit']:hover,
.forms .form-box input[type='submit']:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.forms .form-box input[type='submit']:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.card {
  cursor: pointer;
  border-radius: 4px;
}

.card .overlay {
  overflow: hidden;
}

.card .overlay .card-img-top {
  transition: all 0.3s ease-in;
}

.card .overlay .content {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.card .overlay .content .transform {
  transform: translateY(-30px);
  transition: all 0.4s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.5) rotate(5deg);
}

.card:hover .content {
  opacity: 1;
}

.card:hover .content .transform {
  transform: translateY(0);
}

.search-box {
  align-self: center;
  position: relative;
  width: 100%;
  height: 3rem;
  border: 1px solid #bdbdbd;
  border-radius: 16px;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  font-size: 1.8rem;
  background: #fff;
  outline: none;
  padding: 0 20px;
}

.search-box-search-icon {
  position: absolute;
  left: 0;
  top: -2px;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}

.scroll-top {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-secondary);
  transition: all 0.3s ease;
  padding: 20px 17px;
  border-radius: 35px;
  display: none;
  cursor: pointer;
}

.header .navbar {
  z-index: 1000;
}

.header .navbar__logo {
  width: 16rem;
}

@media (max-width: 576px) {
  .header .navbar__logo {
    width: 12.3rem;
  }
}

@media (max-width: 576px) {
  .header .navbar .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 360px) {
  .header .navbar .navbar-nav {
    flex-direction: column;
  }
}

.header .navbar .navbar-nav .nav-item {
  font-size: 1.4rem;
}

.header .navbar .navbar-nav .nav-item:last-child {
  line-height: 3rem;
}

.header .navbar .nav-btn {
  word-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  min-width: 130px;
  padding: 5px 17px;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 9rem;
  opacity: 0;
  right: -30%;
  height: 80vh;
  width: 10rem;
  min-height: 45rem;
  transition: all 0.2s ease-in-out;
  border-radius: 10rem;
  z-index: 1000;
}

.sidebar__icon {
  padding: 3rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 576px) {
  .sidebar__icon {
    padding: 3rem 2rem;
  }
}

.sidebar__icon--line {
  position: relative;
}

.sidebar__icon--line, .sidebar__icon--line::before, .sidebar__icon--line::after {
  width: 3rem;
  height: 2px;
  border-radius: 50px;
  background-color: #eee;
  display: inline-block;
}

.sidebar__icon--line::before, .sidebar__icon--line::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.sidebar__icon--line::before {
  top: -0.8rem;
}

.sidebar__icon--line::after {
  top: 0.8rem;
}

.sidebar .nav {
  font-size: 1.6rem;
  height: 100%;
  text-align: center;
}

.sidebar .nav .nav-item {
  position: relative;
  background-color: #024ba3;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid var(--color-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1400px) {
  .sidebar .nav .nav-item {
    padding-left: 1.5rem;
  }
}

.sidebar .nav .nav-item:first-child {
  border-radius: 10rem 0 0 0;
  padding-top: 30px;
}

.sidebar .nav .nav-item:last-child {
  border-bottom: unset;
  border-radius: 0 0 0 10rem;
  padding-bottom: 30px;
}

.sidebar .nav .nav-item:hover {
  background-color: var(--color-secondary);
}

.sidebar .nav .nav-item:hover .submenu {
  display: unset;
}

.sidebar .nav .nav-item .nav-link {
  font-size: 1.4rem;
  color: #fff;
  width: 70px;
}

.submenu {
  right: 100%;
  top: 0;
  background-color: #0256b9;
  padding: 0;
}

.submenu li {
  transition: all 0.3s ease;
  padding: 1rem 0;
}

.submenu li:hover {
  background-color: var(--color-secondary);
}

.sidebar-active {
  right: 0;
  opacity: 1;
}

.icon-active span {
  background-color: transparent;
}

.icon-active span::before {
  transform: rotate(135deg);
  top: 0;
}

.icon-active span::after {
  transform: rotate(-135deg);
  top: 0;
}

.hero {
  position: relative;
}

.hero .slide__img {
  filter: brightness(31.1%);
  height: 85vh;
  min-height: 600px;
}

.hero .slide__btn {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.4s ease-out;
  margin: 0 14px;
  opacity: 0.7;
}

.hero .slide .carousel-indicators {
  bottom: 78px;
}

.hero .slide .carousel-indicators .active {
  transform: scale(1.2);
}

.hero .hero-content {
  bottom: 13.25rem;
}

@media (max-width: 576px) {
  .hero .hero-content {
    right: 0;
    bottom: 23.25rem;
  }
}

@media (max-width: 768px) {
  .hero .hero-content {
    right: 0;
  }
}

.hero .hero-content__title {
  word-spacing: 5px;
}

.hero .hero-content__body {
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.hero .hero-content .btn {
  font-size: 1.8rem;
  padding: 0.5rem 3.1rem;
  border-radius: 4px;
  font-weight: 400;
  background-color: var(--color-secondary);
}

.products {
  overflow: hidden;
  margin-bottom: 9rem;
}

.products__title {
  border-bottom: 4px solid var(--color-tertiary);
  display: inline-block;
  border-radius: 4px;
}

.products .container .slider-container {
  position: relative;
}

.products .container .next-arrow {
  position: absolute;
  top: 60px;
  right: -50px;
  cursor: pointer;
}

.products .container .prev-arrow {
  position: absolute;
  top: 60px;
  left: -50px;
  cursor: pointer;
}

.products .accordion-button {
  font-size: 2.5rem;
}

.products .accordion-button::after {
  margin-right: auto !important;
  margin-left: 0;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.client-entry {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-image: url(../assets/bg-section--2-img-2.png);
  background-size: 61rem;
  background-repeat: no-repeat;
  background-position: -89px 8px;
}

.client-entry__bg-img-1 {
  transform: translate(600px, -90px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .client-entry {
    background-image: none;
  }
}

.client-entry__content {
  margin-top: 27rem;
}

.client-entry__title {
  border-bottom: 4px solid var(--color-secondary);
  display: inline-block;
  border-radius: 4px;
}

.client-entry__body {
  line-height: 4rem;
}

.boxes {
  margin-bottom: 8rem;
  position: relative;
}

.boxes .rounded {
  border-radius: 3.25rem !important;
}

.boxes__box .circular {
  border: 1px solid #fff;
  border-radius: 50%;
}

.boxes__box--icon {
  fill: #fff;
  padding: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 1rem;
}

.boxes__box .icon-209 {
  margin: 1.8rem;
}

.boxes__box--title {
  font-weight: bold;
  fill: var(--color-primary);
  transition: all 0.3s ease;
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box-container:hover .circular {
  border-color: var(--color-secondary);
}

.box-container:hover svg {
  fill: var(--color-secondary);
}

.box-container:hover h2 {
  color: var(--color-secondary);
}

.article .nav-tabs .nav-item .nav-link {
  color: #707070;
  height: 102%;
  padding: 8px 3rem;
}

.article__title {
  border-bottom: 4px solid var(--color-secondary);
  display: inline-block;
  border-radius: 4px;
}

.article .card-body {
  background-color: var(--color-grey-light);
}

.article .card-body .content {
  line-height: 2.5rem;
  font-size: 1.3rem;
  font-weight: lighter;
}

.article .card-body .avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}

.news {
  background-color: var(--color-grey-light);
}

.news__title {
  border-bottom: 4px solid var(--color-secondary);
  display: inline-block;
  border-radius: 4px;
}

.news .card-body .content {
  line-height: 2.5rem;
  font-size: 1.3rem;
  font-weight: lighter;
}

.news .card-body .lead {
  word-spacing: 2px;
  line-height: 2.4rem;
}

.footer__socialmedia {
  background-color: var(--color-secondary);
}

.footer__socialmedia--icon {
  fill: #fff;
  transition: all 0.2s ease;
}

.footer__socialmedia--icon:hover {
  fill: var(--color-primary);
}

@media (max-width: 992px) {
  .footer__item:nth-child(even) {
    border-left: unset !important;
  }
}

@media (max-width: 768px) {
  .footer__item {
    border-left: unset !important;
  }
}

.footer .bg-color-primay {
  overflow: hidden;
  background-color: var(--color-primary);
  position: relative;
}

.footer .bg-color-primay .container {
  position: relative;
  z-index: 10;
}

.footer .form-group .form-control {
  background-color: var(--bs-gray-500);
  border: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 19px;
}

.footer .form-group .form-control::placeholder {
  color: #fff;
}

.footer .form-btn {
  font-size: 1.8rem;
  padding: 0.5rem 3.1rem;
  border-radius: 8px;
  font-weight: 700;
  color: var(--color-primary);
  background-color: #fff;
  transition: all 0.3s ease-in;
  border: none;
}

.footer .form-btn:hover {
  color: #fff !important;
  background-color: var(--color-primary) !important;
}

.footer .bg-pic {
  position: absolute;
}

.footer .bg-pic-1 {
  top: -8rem;
  right: -53rem;
}

@media (max-width: 576px) {
  .footer .bg-pic-1 {
    right: -83rem;
  }
}

.footer .bg-pic-2 {
  top: 9rem;
  right: 15rem;
}

@media (max-width: 992px) {
  .footer .bg-pic-2 {
    top: -6rem;
    right: -19rem;
    transform: rotate(86deg);
  }
}

@media (max-width: 576px) {
  .footer .bg-pic-2 {
    top: 4rem;
    right: -49rem;
  }
}

.footer .bg-pic-3 {
  top: 6rem;
  left: -21rem;
}

@media (max-width: 992px) {
  .footer .bg-pic-3 {
    top: 24rem;
    transform: rotate(4deg);
    right: -19rem;
  }
}

@media (max-width: 576px) {
  .footer .bg-pic-3 {
    top: 54rem;
    right: -59rem;
  }
}
/*# sourceMappingURL=style.css.map */